.portfolio-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px auto;
  }

  .project-card {
    background: rgba(1, 30, 46, 0.53); // Reduced opacity
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    }

    .project-image {
      margin-top: 10px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .project-details {
      padding: 20px;
      text-align: center;
      transition: color 0.3s ease, transform 0.3s ease;

      .project-technologies {
        display: flex;
        justify-content: center; /* Centers the icons horizontally */
        align-items: center;    /* Aligns the icons vertically */
        gap: 10px;              /* Adds spacing between the icons */
        margin-top: 10px;
      }
      
      .technology-icon {
        font-size: 20px;
        color: #fff; /* Adjust to match your theme */
        transition: transform 0.2s ease; /* Smooth hover effect */
      }
      
      .technology-icon:hover {
        transform: scale(1.2); /* Slightly enlarges the icon on hover */
      }      

      .project-title {
        font-size: 24px;
        font-weight: bold;
        color: #ffd700;
        margin-bottom: 5px;
      }

      .project-description {
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: #666;
        line-height: 1.5;
        margin-bottom: 5px;
      }

      &:hover {
        color: #f3797e;
        transform: scale(1.2);
      }
    }
  }
}
