.portfolio-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }

  .slider-container {
    margin: 50px auto;
    width: 80%;
    text-align: center;

    .slider-item {
      position: relative;

      .slider-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
      }

      .slider-description {
        margin-top: 5px;
        color: #333;

        h2 {
            font-family: Arial, Helvetica, sans-serif ;
          font-size: 32px;
          font-weight: bold;
          color:#ffd700;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }

    .slick-dots li button:before {
      color: #4b49ac;
    }

    .slick-prev,
    .slick-next {
      color: #ffffff !important;
      z-index: 1;
    }
  }
}
